<div class="grid mt-4">
    <p-card class="col-8 col-offset-2">
        <h4>Plany na przyszłość</h4>
        <ul>
            <li>
                <ul><h5>Strona główna</h5>
                </ul>
            </li>
            <li>
                <ul><h5>Record Page</h5>
                    <li>
                        <p>użytkownik bedzie mógł z widoku gry nadać jej ocenę w skali 1-5, która 
                            jest jednym z istotnych wskaźników przy "matchowaniu" gier
                        </p>
                    </li>
                    <li>
                        <p>użytkownik z poziomu wybranej gry będzie mógł zgłaszać niepoprawne informacje 
                            o grze, jak i również zaproponować zmianę
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <ul><h5>Game Match - główny feature</h5>
                    <li>
                        <p>"match" będzie odpowiednio zwiększony dla gier dodanych do ulubionych przez użytkownika
                        </p>
                    </li>
                    <li>
                        <p>odrzucone gry nie będą pokazywane na liście "matchowanych" gier
                        </p>
                    </li>
                    <li>
                        <p>rozszerzone zostaną kryteria "matchowania" gier do wyborów użytkownika
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <ul><h5>Dodawanie gier do bazy</h5>
                    <li>
                        <p>będzie dostępne dla zalogowanych użytkowników
                        </p>
                    </li>
                    <li>
                        <p>każda gra będzie musiała zostać zatwierdzona przez osobę za to odpowiedzialną, 
                            o ile rola użytkownika dodającego grę nie będzie spełniała kryteriów 
                            dodawania gier bez zgody
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <ul><h5>Logowanie i rejestracja</h5></ul>
            </li>
        </ul>
    </p-card>
</div>