<section>
    <div class="container mt-4">
        <div class="card">
            <div class="row">
                <div class="card-body col-6"></div>
                <div class="card-body col-6">
                    <ng-multiselect-dropdown class="mx-3" [placeholder]="'Wybór główny'"
                        [settings]="dropdownSettingsSingle" [data]="gameCategories"
                        (onSelect)="handleSingleSelect($event)" (onDeSelect)="handleSingleDeselect()">
                    </ng-multiselect-dropdown>
                    {{emptyCategoryMessage}}

                    <ng-multiselect-dropdown class="mx-3" [placeholder]="'Wybór dodatkowy'"
                        [settings]="dropdownSettings" [data]="gameCategories" (onSelect)="handleSelect($event)"
                        (onDeSelect)="handleDeselect($event)" (onDeSelectAll)="handleDeselectAll()"
                        (onSelectAll)="handleSelectAll()">
                    </ng-multiselect-dropdown>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary" type="button" (click)="handleUserMatch()">Button</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <p-carousel [value]="matchedGames" [numVisible]="3" [numScroll]="3" [circular]="false" [showIndicators]="false"
                        [responsiveOptions]="responsiveOptions">
                        <ng-template let-game pTemplate="item">
                            <div class="product-item">
                                <div class="product-item-content text-center">
                                    <div class="mx-3">
                                        <img src="{{game.imageUrl}}" [alt]="game.title" class="game-cover-img" />
                                    </div>
                                    <div>
                                        <h6 class="p-mb-1">{{game.title}}</h6>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </div>
    </div>
</section>