<section>
    <div class = "container mt-4">
        <div class = "row">            
            <div>
                <div class="card">
                    <div class="card-body col">
                        <div class="btn-group">
                            <div *ngFor="let tempGameCategory of gameCategories" class = "mx-2">
                                <button type="button" class="btn btn-outline-dark" value = "{{ tempGameCategory.gameCategoryId}">{{ tempGameCategory.name}}</button>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>
