body {
    background-image: url("/assets/static_resources/Background.png");
    background-color: #132122;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-menubar{
    background: none;
    border: none !important;
    color: white !important;
}

.p-menuitem-text {
    color: white !important;
    font-weight: 400;
    text-transform: uppercase;
}

.p-menuitem-icon {
    color: white !important;
}

.p-card{
    background: rgba(34, 37, 42, 0.2) !important;
    color: white !important;
}

.p-tabview-panels{
    background: none !important;
}

.p-tabview-nav {
    background: none !important;
}

.p-tabview-nav-link {
    background: none !important;
}

.button-match{
    background-color: rgba(10, 189, 139, 0.9) !important;
    border: none !important;
}

.button-match:hover{
    background-color: rgb(13, 128, 95) !important;
}

.button-match-active{
    background: none !important;
}

.p-chip {
    background: none !important;
    color: white;
    border: none;
    box-shadow: 0px 1px 7px rgb(0 0 0 / 10%), 0px 4px 5px -2px rgb(0 0 0 / 12%), 0px 10px 15px -5px rgb(0 0 0 / 20%) !important;
}

.p-chip-text {
    font-size: 12px !important;
    color: white !important;
}

.p-dataview {
    background: none !important;
}

.p-dataview-header {
    background: none !important;
}

.p-dataview-content {
    background: none !important;
}

.p-paginator-bottom {
    background: none !important;
}

.match-platform-button {
    background: none !important;
    height: 1.9rem !important;
    width: 1.9rem !important;
    float: right !important;
    border: none !important;
    cursor: default !important;
}

.match-platform-button > span {
    font-size: 12px !important;    
}

.match-grid-item-bottom {
    display: flex !important;
    justify-content: center;
}

.match-grid-item-top {
    display: flex !important;
}

.match-category-tag {
    color: white;
}

.game-name {
    color: white;
}

.match-grid-item {    
    border-radius: 4%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.match-button-favourites {
    background-color: rgba(10, 189, 139, 0.9) !important;
    border: none !important;
}

.match-category-tag {
    text-transform: uppercase;
}

