body {
    background-image: url("/assets/static_resources/Background.png");
    background-color: #132122;
    background-repeat: no-repeat;
    background-size: cover;
}

.p-menubar{
    background: none;
    border: none !important;
    color: white !important;
}

.p-menuitem-text {
    color: white !important;
    font-weight: 400;
    text-transform: uppercase;
}

.p-menuitem-icon {
    color: white !important;
}