<div class="grid mt-4">
    <p-card class="col-8 col-offset-2">
        <h4>GameMatch 2.0 (pierwszy release produkcyjny) 19.12.2021</h4>
        <ul>
            <li>
                <ul><h5>Strona główna</h5>
                    <li>
                        <p>użytkownik może od teraz przeglądać listę
                            wszystkich dostępnych w bazie gier lub według popularności,
                            ocen użytkowników bądź według platformy, na której dostępna jest gra</p>
                    </li>
                    <li>
                        <p>użytkownik na stronie głównej widzi listę najpopularniejszych gier,
                            a także listę nadchodzących premier</p>
                    </li>
                    <li>
                        <p>uzytkownik jako główną funkcjonalność strony może
                            wykorzystać zakładkę "Znajdż grę dla siebie",
                            gdzie przez wybór odpowiednich dla siebie parametrów
                            zostanie do użytkownika dobrana lista gier spełniających wymagania,
                            a także użytkownik dostanie zwróconą procentową wartość dopasowania
                            gry do wprowadzonych wyborów (zwaną "match") </p>
                    </li>
                    <li>
                        <p>użytkownik z poziomu strony głównej może przejść na tzw. "Record Page" wybranej gry,
                            gdzie uzyska bardziej szczegółowe informacje na jej temat
                        </p>
                    </li>
                    <li>
                        <p>użytkownik na wszystkich listach ma przyciski (obecnie nieaktywne), które wraz z rozwojem
                            platformy pozwolą na akcje typu: dodawanie gier do ulubionych,
                            ukrywanie niechcianych gier, ocena gier - wszystkie będą dostępne tylko dla
                            zalogowanych użytkowników
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <ul><h5>Record Page</h5>
                    <li>
                        <p>użytkownik może przeglądać szczegółowe informacje o wybranej grze,
                            opisy, wymagania systemowe, może obejrzeć trailer, a także może przeglądać
                            tytuły podobne do wybranej gry
                        </p>
                    </li>
                    <li>
                        <p>użytkownik z poziomu wybranej gry może uruchamiać listy gier wg. kategorii,
                            trybów gry, platform, a także może przeglądać podobne gry
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <ul><h5>Game Match - główny feature</h5>
                    <li>
                        <p>na tę chwilę użytkownik dostaje informację zwrotną o "matchu" jedynie w przypadku,
                            gdy jednym z kryteriów wyszukiwania będzie "Kategoria"
                        </p>
                    </li>
                    <li>
                        <p>logika "matchowania" zostanie rozszerzona o pozostałe wybory wraz z rozwojem platformy
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <ul><h5>Dodawanie gier do bazy</h5>
                    <li>
                        <p>na tę chwilę ten feature jest niedostępny
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <ul><h5>Logowanie i rejestracja</h5>
                    <li>
                        <p>na tę chwilę ten feature jest niedostępny
                        </p>
                    </li>
                </ul>
            </li>
        </ul>
    </p-card>
</div>