.game-cover-img {
  max-width: 200px;
  height: 300px;
  display: inline-block;
}  

.match-grid-item-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items :center;
}

.game-cover-img-list {
  max-width: 150px;
  height: 200px;
  display: inline-block;
  margin-right: 2rem;
}