<div class="card">
    <p-dataView #dv [value]="matchedGames" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
        [sortOrder]="sortOrder" layout="grid">
        <ng-template pTemplate="header">
            <div class="d-flex flex-column flex-md-row jc-md-between">
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
                    (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                <span class="input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name">
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-game pTemplate="listItem">
            <div class="col-12">
                <div class="product-list-item">
                    <img src={{game.imageUrl}} [alt]="game.name" />
                    <div class="product-list-detail">
                        <div class="product-name">{{game.name}}</div>
                        <i class="pi pi-tag product-category-icon"></i><span class="product-category">KATEGORIA</span>
                    </div>
                    <div class="product-list-action">
                        <span class="product-price">CENA + {{game.name}}</span>
                        <button pButton icon="pi pi-eye-slash" type="button" class="p-button-raised p-button-rounded"></button>
                        <button pButton icon="pi pi-bookmark" type="button" class="p-button-raised p-button-rounded"></button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-game pTemplate="gridItem">
            <div class="col-3 px-2 py-2">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top grid">
                        <div class="col-6">
                            <p-chip label="KATEGORIA" icon="pi pi-tag d-block"></p-chip>
                        </div>
                        <div class="col-6">
                            <button pButton icon="pi pi-microsoft" type="button" class="d-block p-button-raised p-button-rounded match-platform-button"></button>
                            <button pButton icon="pi pi-apple" type="button" class="d-block p-button-raised p-button-rounded match-platform-button"></button>
                            <button pButton icon="pi pi-angle-double-right" type="button" class="d-block p-button-raised p-button-rounded match-platform-button"></button>
                        </div>
                    </div>
                    <div class="match-grid-item-content">
                        <img src={{game.imageUrl}} class="game-cover-img" [alt]="game.title" />
                        <div class="game-name">{{game.title}}</div>
                        <div class="game-name">{{game.releaseDate | date: '(yyyy)'}}</div>
                    </div>
                    <div class="match-grid-item-bottom">
                        <button pButton icon="pi pi-eye-slash" type="button" class="mx-5 p-button-raised p-button-rounded match-button-left"></button>
                        <button pButton icon="pi pi-heart" type="button" class=" mx-5 p-button-raised p-button-rounded match-button-right"></button>                        
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>