<app-header-ad-banner></app-header-ad-banner>
<div class="grid">
    <p-card class="my-5 px-3 py-3 border-0 record-page-card col-10 col-offset-1">
        <div class="grid">
            <div class="col-9">
                <div class="grid">                    
                    <div class="col-3">
                        <img src={{game.imageUrl}} class="game-cover-img" alt={{game.title}}>
                    </div>
                    <div class="col-8 ms-md-3">
                        <div class="card-body">
                            <h2 class="mb-4 ms-md-2 record-page-title">{{game.title}}</h2>
                            <p class="text-justify record-page-description">{{game.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="grid mt-5">                    
                    <div class="col-12 col-md-11">
                        <h2 class="mb-4">Trailer</h2>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item col-lg-12 col-md-12 col-sm-12"
                                [src]="game.trailerUrl | safe" title="{{game.title}} trailer"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="grid mt-5" *ngIf="game.descriptionFirst">                    
                    <div class="col-12 col-md-11">
                        <h2 class="mb-4">{{game.descriptionFirstHeader}}</h2>
                        <p class="text-justify record-page-description">{{game.descriptionFirst}}</p>
                    </div>
                </div>
                <div class="grid mt-5" *ngIf="game.systemMinimumRequirements || game.systemRecommendedRequirements">
                    <div class="col-12 col-md-11">
                        <h2 class="mb-4">Wymagania sprzętowe</h2>
                        <p class="text-justify" *ngIf="game.systemMinimumRequirements"><strong>MINIMALNE:</strong> {{game.systemMinimumRequirements}}</p>
                        <p class="text-justify" *ngIf="game.systemRecommendedRequirements"><strong>ZALECANE:</strong> {{game.systemRecommendedRequirements}}</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <h3 class="mb-4">INFORMACJE</h3>
                <p class="mt-2 mb-2">Ocena użytkowników:</p>
                <p-rating [(ngModel)]="game.rating" [readonly]="true" [cancel]="false"></p-rating>
                <p class="mt-2 mb-0">Data wydania:</p>
                <p>{{game.releaseDate | date: 'dd LLLL YYYY'}}</p>
                <p class="mt-2 mb-0">Gatunek:</p> 
                <div class="custom-link-block d-inline-block">             
                    <a href={{getGameCategoryUrl(mainGameCategory.name)}} class="custom-link">{{mainGameCategory.name}}</a> <!-- lista gatunków -->
                </div>  
                <!-- TODO -->
                <p class="mt-2 mb-0">Kategorie:</p>    
                <div class="custom-link-block d-inline-block mr-3" *ngFor="let tempGameCat of alternateGameCategories">          
                    <a href="{{getGameCategoryUrl(tempGameCat.name)}}" class="custom-link">{{tempGameCat.name}}</a><!-- lista kategorii -->       
                </div>           
                <!-- TODO -->
                <p class="mt-2 mb-0">Tryby gry:</p>
                <div class="custom-link-block d-inline-block mr-3" *ngFor="let tempGameMode of game.gameModes">
                    <a href="{{getGameModeUrl(tempGameMode.name)}}"class="custom-link">{{tempGameMode.name}}</a>
                </div>
                 <!-- lista trybów -->
                <!-- TODO -->
                <p class="mt-2 mb-0">Platformy:</p> <!-- TODO lista z platformami + ikonki-->
                <div class="custom-link-block d-inline-block mr-3" *ngFor="let tempPlatform of game.platforms">
                    <a href="{{getPlatformUrl(tempPlatform.name)}}"class="custom-link">{{tempPlatform.name}}</a>
                </div>
                <h2 class="my-4">PODOBNE GRY</h2>
                <app-similar-games [gameCategory]="mainGameCategory" [currentGame]="game"></app-similar-games>
            </div>
        </div>
    </p-card>
</div>